        </div>
    </div>
</div>
<hr/>
<footer>
    <p class="text-center"> Game Manager 2016 </p>
</footer>

</body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/main.js"></script> 
</html>