<% include partials/header %>
    <div class="well">
        <h3> My Games </h3>
        <hr/>    
        <h4> Welcome to the home page ! </h4>
        <p>
            Quisque ex quam, dictum ac justo sit amet, mattis sodales urna. Proin a molestie ipsum. Aliquam accumsan risus nibh, at scelerisque
            eros rutrum in. Sed pellentesque tristique sem, a tincidunt nisi molestie et. Quisque at nulla est. Etiam molestie
            mollis elementum. Donec eu arcu eget orci pellentesque facilisis. Proin auctor faucibus est, id pharetra magna
            maximus nec. Etiam dignissim sollicitudin nibh placerat sodales. Vestibulum mauris purus, vulputate id feugiat
            id, condimentum sit amet ligula. Suspendisse tempus nibh sit amet turpis egestas vestibulum. Morbi turpis dolor,
            tristique id vulputate sed, tincidunt nec tortor. Fusce fermentum lorem eget arcu condimentum, a condimentum
            ligula dictum. Nulla aliquet urna eu tempor cursus.
        </p>
    </div>
    <% include partials/footer %>Ï