@media (min-width: 768px) {
  .navbar-nav > li > a {
    height      : 54px;
    line-height : 27px; /* align the line center vertically */
  }
}

h3{
  padding: 0;
  padding-bottom: 2px;
  margin: 0;
}

.hr-pad{
  margin-top: 10px;
  margin-bottom: 14px;
}

.glyphicon-star{
  color: red;
}

.glyphicon-star-empty{
  color: red;

}

.game-cover{
  height: 292px;
  width: 237px;
  border: 2px black solid;
}

.game-cover:hover{
  opacity: 0.8;
  cursor: pointer;
  border: 2px black solid;
}

h2{
  margin-top: 0px;
  margin-bottom: 20px;
}

.info-label{
  border-radius: 0px;
  background-color: red;
  margin-right: 10px;
}

.info-label:hover{
  opacity: 0.7;
}

.game-info{
  line-height: 25px;
}

.rating{
  float: right;
}

.game-name{
  display: inline-block;
}

.game-developer{
  margin-top: 1px;
  margin-bottom: 1px;
}

.game-genre{
  margin-top: 1px;
  margin-bottom: 1px; 
}