@media (min-width: 768px) {
  .navbar-nav > li > a {
    height      : 54px;
    line-height : 27px; /* align the line center vertically */
  }
}

.jumbo{
  height: 75%;
  width: 75%;
  display: block;
  margin: auto;
}

.bird{
  height: 11px;
  width: 14px;
}

h3{
  padding: 0;
  padding-bottom: 2px;
  margin: 0;
}

.hr-pad{
  margin-top: 10px;
  margin-bottom: 14px;
}

.glyphicon-star{
  color: red;
}

.glyphicon-star-empty{
  color: red;

}

.edit-btn{
  margin-right: 5px;
}

.stars{
  float: right;
}

.game-data{
  margin-bottom: 10px;
}

.game-image{
  border: 2px black solid;
  height: 175px;
  width: 140px;
}

.game-block{
  margin-bottom: 5px;
}

.game-info{
  display: none;
}

.game-cover:hover + .game-info {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
  z-index: 10;
}

.game-cover-big{
  border: 2px black solid;
  display: block;
  height: 300px;
  width: 250px;
}

.game-cover:hover{
  opacity: 0.8;
  cursor: pointer;
}

h2{
  margin-top: 0px;
  margin-bottom: 20px;
}

.info-label{
  border-radius: 0px;
  background-color: red;
  margin-right: 10px;
}

.info-label:hover{
  cursor: pointer;
  text-decoration: underline;
  color: ghostwhite;
}

.game-info{
  line-height: 25px;
}


.game-name{
  display: inline-block;
}

.game-developer{
  margin-top: 1px;
  margin-bottom: 1px;
}

.game-genre{
  margin-top: 1px;
  margin-bottom: 1px; 
}