<% include ../partials/header %>
    <h2> Games 
        <% if(authdata != null) { %>
            <a href="/games/add" class="btn btn-default pull-right">Add Games</a>
        <% } %>
    </h2>
    <div class="row">
        <% for(var i = 0; i < games.length; i++) {%>
            <div class="col-md-2 game-block">
                <div class="game-cover">
                    <a href="/games/details/<%= games[i].id %>"><img class="game-image" src="/images/uploads/<%= games[i].cover %>"/></a>
                </div>
                <div class="game-info">
                    <span class="label label-default"> <%= games[i].game_name %> </span>
                </div>
            </div>
        <% } %>
    </div>

<% include ../partials/footer %>