<% include ../partials/header %>
    <div class="well">
        <h3> Login </h3>
        <hr>
        <form method="post" action="/users/login">
            <div class="form-group">
                <label> Email </label>
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label> Password </label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" style="width: 100%;" class="btn btn-default btn-sm"> Submit </button>
        </form> 
    </div>
<% include ../partials/footer %>